/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESC>;
            key-positions = <0 11>;
        };

        OpenParenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 5>;
        };

        OpenBrace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <16 17>;
        };

        OpenBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <28 29>;
        };

        CloseParenthasis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 6>;
        };

        CloseBrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <19 18>;
        };

        CloseBracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <31 30>;
        };

        LessThan {
            bindings = <&kp LESS_THAN>;
            key-positions = <3 2>;
        };

        GreatherThan {
            bindings = <&kp GREATER_THAN>;
            key-positions = <4 3>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <38 39>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <7 8>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <31 32>;
        };

        exclemation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <19 20>;
        };

        plus {
            bindings = <&kp KP_PLUS>;
            key-positions = <8 9>;
        };

        minus {
            bindings = <&kp KP_MINUS>;
            key-positions = <20 21>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <32 33>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <15 16>;
        };

        dot {
            bindings = <&kp DOT>;
            key-positions = <27 28>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <27 26>;
        };
    };

    behaviors {
        TD_Comma_Dot: TD_Comma_Dot {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_COMMA_DOT";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp DOT>;
        };

        TD_Apostraf_quote: TD_Apostraf_quote {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_APOSTRAF_QUOTE";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DOUBLE_QUOTES>;
        };

        Hold_Tap: Hold_Tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
        };

        TD_Space_Del: TD_Space_Del {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SPACE_DEL";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp DEL>;
        };

        HT_with_layer: HT_with_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_WITH_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
        };
    };

    macros {
        find_class: find_class {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(E) &kp HASH &kp SPACE>;
            label = "FIND_CLASS";
        };

        find_method: find_method {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(E) &kp AT_SIGN &kp SPACE>;
            label = "FIND_METHOD";
        };

        start_test: start_test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SEMICOLON) &kp C>;
            label = "START_TEST";
        };

        start_debuging: start_debuging {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SEMICOLON) &kp LC(C)>;
            label = "START_DEBUGING";
        };

        shell_plus: shell_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp Y &kp T &kp H &kp O &kp N &kp SPACE &kp M &kp A &kp N &kp A &kp G &kp E &kp DOT &kp P &kp Y &kp SPACE &kp S &kp H &kp E &kp L &kp L &kp UNDER &kp P &kp L &kp U &kp S>;
            label = "SHELL_PLUS";
        };

        manage_py: manage_py {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp Y &kp T &kp H &kp O &kp N &kp SPACE &kp M &kp A &kp N &kp A &kp G &kp E &kp DOT &kp P &kp Y &kp SPACE>;
            label = "MANAGE_PY";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENTR |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   | ./, | '/" |  /* | EQU |
            //                    | GUI | LWR | SPC |   | SPC | L2   | L1  |

            bindings = <
&kp ESC                    &Hold_Tap LC(Q) Q  &Hold_Tap LC(W) W  &Hold_Tap LC(E) E          &Hold_Tap LC(R) R       &Hold_Tap LC(T) T               &kp Y                   &kp U                       &kp I                 &kp O    &kp P          &Hold_Tap BACKSPACE LEFT_BRACKET
&kp LEFT_SHIFT             &Hold_Tap LC(A) A  &Hold_Tap LC(S) S  &Hold_Tap LC(D) D          &Hold_Tap LC(F) F       &Hold_Tap LC(G) G               &kp H                   &kp J                       &kp K                 &kp L    &kp SEMI       &kp SINGLE_QUOTE
&Hold_Tap LCTRL LA(LSHFT)  &Hold_Tap LC(Z) Z  &Hold_Tap LC(X) X  &Hold_Tap LC(C) C          &Hold_Tap LC(V) V       &Hold_Tap LC(B) B               &kp N                   &kp M                       &TD_Comma_Dot         &kp DOT  &mt STAR FSLH  &kp RSHIFT
                                                                 &Hold_Tap LEFT_SHIFT LGUI  &Hold_Tap LEFT_ALT DEL  &Hold_Tap LEFT_CONTROL SPACE    &HT_with_layer 3 ENTER  &HT_with_layer 2 BACKSPACE  &HT_with_layer 1 TAB
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // | SYSR |     |     |     |     |     |   |     |  1  |  2  |  3  |  0  |      |
            // |      |     |     | UP  |     |     |   |     |  4  |  5  |  6  |     |      |
            // |      |     | LFT | DWN | RGT |     |   |     |  7  |  8  |  9  |     |      |
            //                    |     |     | SPC |   | SPC |     |     |

            bindings = <
&sys_reset  &trans  &trans    &trans    &trans     &trans           &kp PLUS       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0  &trans
&trans      &trans  &kp HOME  &kp UP    &kp END    &kp PG_UP        &kp MINUS      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans
&trans      &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN    &kp EQUAL      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans
                              &trans    &trans     &kp SPACE        &TD_Space_Del  &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  &  |  %  |   |  ^  |  $  |  *  |  (  |  )  | BSPC |
            // | CTRL |MUTE |V_UP |V_DWN|  <  |  >  |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | SPC |     | ALT |

            bindings = <
&kp TAB    &kp EXCL    &kp AT          &kp HASH      &kp AMPERSAND     &kp PRCNT           &kp CARET  &kp DOLLAR  &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &kp C_MUTE  &kp C_MUTE      &kp C_VOL_DN  &kp C_VOLUME_UP   &kp GREATER_THAN    &kp MINUS  &kp EQUAL   &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans      &kp C_PREVIOUS  &kp C_NEXT    &kp C_PLAY_PAUSE  &trans              &kp UNDER  &kp PLUS    &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                       &kp LGUI      &trans            &kp SPACE           &kp SPACE  &trans      &kp RALT
            >;
        };

        my_layer {
            bindings = <
&trans  &trans  &trans               &shell_plus          &manage_py              &start_test                &trans    &kp PG_UP  &kp UP_ARROW    &kp PAGE_DOWN    &trans   &trans
&trans  &trans  &kp LC(LS(P))        &find_method         &find_class             &start_debuging            &kp HOME  &kp LEFT   &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END  &trans
&trans  &trans  &kp LC(KP_NUMBER_1)  &kp LC(KP_NUMBER_2)  &kp LC(LA(LEFT_ARROW))  &kp LC(LA(RIGHT_ARROW))    &trans    &trans     &trans          &trans           &trans   &trans
                                     &trans               &trans                  &trans                     &trans    &trans     &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};

//For new Layers
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
